<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice Board</title>
    <style>
      .table_atr th {
        background-color: black;
        color: white;
      }
    </style>
    <!-- <script defer src="./boardFront.js"></script> -->

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <a href="/">홈으로</a>
    <br />
    <h1>게시판</h1>
    <form action="" name="noticeBoard">
      <span>이름<input type="text" name="name" id="name" /></span><br />
      <span>제목<input type="text" name="title" id="title" /></span><br />
      <br />
      <div>
        <textarea cols="50" rows="10" name="content" id="content"></textarea>
      </div>
      <br />
      <button type="submit" onclick="postBoardContents();">저장하기</button>
      <button type="submit" onclick="uploadContents();">등록하기</button>
      <br />
    </form>

    <hr />
    <h1>게시글</h1>
    <table border="1 solid">
      <tr class="table_atr">
        <th>작성자</th>
        <th>제목</th>
        <th>글내용</th>
        <th>작성일</th>
        <th>기타</th>
      </tr>
      <tr>
        <td>홍길동</td>
        <td>어머니에게</td>
        <td>저는 글을 쓸테니 떡을 써세요</td>
        <td>1459-04-09</td>
        <td><a href="">삭제</a> / <a href="">수정</a></td>
      </tr>
    </table>
  </body>

  <script>
    const postBoardContents = async () => {
      await reqPost();
      alert('DB에 저장 완료!');
    };

    const uploadContents = () => {
      alert('게시글 등록 완료!');
    };

    const reqPost = () => {
      const form = document.forms['noticeBoard'];

      const noticeBoardForm = {
        name: form.name.value,
        title: form.title.value,
        content: form.content.value,
      };

      console.log(form);
      axios({
        method: 'post',
        url: '/postBoard',
        data: noticeBoardForm,
      });
    };
  </script>
</html>
