/* beach 클래스 하위의 이미지들의 공통 코드 */
.beach img  {
    width: 30%;
    height: 30%;
    position: absolute;

    width: 400px;
    height: 250px; 
}

/* b1, b2, b3의 위치 각각 */
img#beach1 {
    top: 300px;
    left: 100px;
    transform: skewY(15deg);
    
}
img#beach2 {
    top: 200px;
    left: 350px;
    transform: skewY(15deg);
    z-index: -1;
}
img#beach3 {
    top: 100px;
    left: 600px;
    transform: skewY(15deg);
    z-index: -2;
}