<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <h1>로그인 페이지</h1>
    <a href="/">메인 페이지</a>
    <hr />
    <div>아이디 <input type="text" /></div>
    <div>패스워드 <input type="text" /></div>
  </body>
</html>
