<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 결과 예시</title>

    <!-- TODO: CSS 연결 -->
    <link rel="stylesheet" href="#" />
  </head>

  <body>
    <!-- TODO: 결과 페이지 완성 -->
  </body>
</html>
