<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GET, POST 실습</title>
  </head>
  <body>
    <h1>일반폼 실습 풀이</h1>
    <a href="/practice1">GET 요청 하고 응답받기 페이지</a>
    <br>
    <br>
    <a href="/practice2">POST 요청 하고 응답받기 페이지</a>
      
    </form>
  </body>
</html>
