<!-- <%= title %> 이걸 html 에서 title 값을 받을 수 있음 -->
<title><%= title %></title>

<!-- cdn 이나 타이틀을 적은다음 include 해서 사용할 수 있음 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<!-- common css -->
<link rel="stylesheet" href="/public/css/index.css">

<!-- common js -->
<script src="/public/js/index.js"></script>