.header {
  background-color: palegoldenrod;
}

.main {
  background-color: aqua;
  display: flex;
}

.section {
  background-color: cornflowerblue;
  width: 80%;
}

.aside {
  background-color: hotpink;
  width: 20%;
}

.footer {
  background-color: chartreuse;
}

@media (max-width: 480px) {
  /* 뷰포트의 width 가 480px 이하일때 */

  .header {
    height: 60px;
  }

  .main {
    flex-direction: column;
  }
  .aside {
    width: 100%;
  }

  /* .aside {
    display: none;
  } */

  .section {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-color: beige;
  }
}
@media screen and (orientation: portrait) {
  body {
    background-color: tomato;
  }
}
