/* 부모 요소 */
/* display: flex; */
/* 부모 요소에 "flex"를 선언하면, 아이템(자식)이 가로 방향으로 배치 */
.div {
  background-color: skyblue;
  display: flex;
  align-items: center;
  text-align: center;
  /* flex-direction */
}

/* 자식 */
.div * {
  /* 알아보려고 */
  border: 1px solid black;
  background-color: green;

  width: 100%;
}

/* 가로가 768 이하일때 세로로 */
@media (max-width: 768px) {
  .div {
    flex-direction: column;
    height: 60px;
  }
  .div * {
    height: 100%;
  }
}
/* 가로가 768 초과일때 가로로 */
@media (min-width: 769px) {
  .div {
    flex-direction: row;
    height: 100px;
  }
  .div * {
    height: 100%;
  }
}
